<div id="inputSection">
    <p class="inputBox">Choose Username: </p>
        <select id="userOption">
        <option class="options" ng-repeat="users in username" value="{{users.id}}">{{ users.user }}</option>
        </select>
    <br />
    <p class="inputBox">Text: </p><input type="text" id="message" ng-model="newMessage">
    <br />
    <br />
    <button class="btnInput" id="btnText" ng-click="postChirps()">Chirp!</button> 
    <br />
    <br />
    <btn id="homepage" ng-click="MakeUser()">Create User</btn>
</div>
<div id="chirperDiv">
    <div ng-repeat="chirp in chirps" class="chirp" id="{{ chirp.id }}">{{ chirp.user }} @ {{ chirp.timestamp }} <br /> {{ chirp.message }} <a class="editLink" href='#!/single_view/{{chirp.id}}'>Edit</a> </div>
</div>