<div id="inputSection">
    <p class="inputBox">Text: </p>
    <input type="text" id="message" ng-model="newMessage">
    <br />
    <br />
    <button class="btnInput" id="btnText" ng-click="UpdateChirp()">Update!</button>
    <br />
    <br />
    <button class="btnInput" id="btnText" ng-click="DeleteChirp()">Delete!</button>
    <br />
    <br />
    <btn id="btnFull" ng-click="Return()">Back to Full List</btn>
</div>
<div id="chirperDiv">
    <div class="chirp" id="{{ chirp.id }}">{{ chirp.user }} @ {{ chirp.timestamp }} <br /> {{ chirp.message }}</div>
</div>